/* HELPERS */
.dark {
  background: $primary-color-dark;
}
.shadow {
  background: #fff url('../imgs/shadow.png') no-repeat center;
  width: 100%;
  height: 16px;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.relative {
  position: relative;
  z-index: 90;
}
.padded {
  padding-top: 120px;
  padding-bottom: 120px;
}
.fleft {
  float: left;
}

.fright {
  float: right;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.o-auto {
  overflow: auto;
}

.center {
  text-align: center;
}

.text-white {
  color: $ghost-white;
}
